@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer components {
  :root {
    --swiper-pagination-color: #ff8c00;
    --swiper-pagination-bullet-inactive-color: #ff7b00;
  }
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.outline-solid {
  outline-style: solid;
}

.text-shadow-orange {
  text-shadow: 0px 0px 10px #ffc13c;
}

.mask {
  .mask-gradient {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}

.scale-transform {
  transition: transform 0.2s;
}

.scale-transform:hover {
  transform: scale(1.1);
}

swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

